@charset "UTF-8";

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);
   
}

h1#principal {
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}
h2 {
    color: rgb(51, 77, 49);
    font-style: italic;
    text-decoration: underline;
    border: solid 6px;
    background-color: black;
}

.basico {
    color: rgb(139, 51, 124);
}

.intermediario {
    color: rgb(138, 138, 41);
}

.avançado {
    color: rgb(165, 50, 50);
}

.destaque {
    background-color: #dada199f;
}